# Dependencias de Node.js
frontend/node_modules/
frontend/.env
frontend/build/

# Entorno virtual de Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/.env

# Archivos de base de datos
*.db
*.sqlite3

# Logs
*.log

# Archivos temporales
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.idea/

# Archivos de configuración sensibles
.env
config.json